@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-clr: #464158;
	--neutral: #a4a3a8;
	--theme-clr: #2b2738;
	--light-purple: #6e54b5;
	--dark-purple: #3b364c;
	--nav-clr: #6b21a8;
}

.navbarMenu a.active {
	background-color: var(--dark-purple) !important;
	color: white !important;
  margin: 0 4px;
}

img,
svg {
	width: 100%;
}

.swiper {
	height: 85vh;
	border-radius: 0.5vw;
}
.swiper .swiper-wrapper .swiper-slide {
	width: 100% !important;
}

/* login & signUp page shadow */
.custom-shadow {
	box-shadow: 0.5vw 0.5vw 0.25vw var(--dark-purple);
}

.custom-container {
	max-width: 90%;
	margin-inline: auto;
}
