@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-clr: #464158;
  --neutral: #a4a3a8;
  --theme-clr: #2b2738;
  --light-purple: #6e54b5;
  --dark-purple: #3b364c;
}
body {
  background: var(--bg-clr);
}

img,
svg {
  width: 100%;
}

.swiper {
  height: 85vh;
  border-radius: 0.5vw;
}
.swiper .swiper-wraper .swiper-slide {
  width: 100vw !important;
  height: 100vh !important;
}

/* login & signup page shadow */
.custom-shadow {
  box-shadow: 0.5vw 0.5vw 0.25vw var(--dark-purple);
}
